:root {
	--dark: #463C3D;
	--white: #fff;
	--gold: #F3B315;
	--primary-500: #E59313;
	--primary-700: #7D500A;
}

body {
	background: var(--dark);
}

#header {
	background: rgba(255, 255, 255, 0);
	border-radius: 25px;
}

.nav-tabs {
	background: var(--dark);
}

.nav-item>.nav-link {
	color: var(--dark);
	background: rgba(255, 255, 255, .5);
}


#top {
	border-radius: 25px 25px 0 0;
	background: var(--white);
}

.bg-content {
	background: var(--white);
	border-radius: 0 0 25px 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--dark);
}

#top {
	border-radius: 25px 25px 0 0;
}

#root {
	padding: .5rem;
	border: 2px solid var(--dark);
	border-radius: 25px;
}

.btn-primary {
	background: var(--primary-500);
	border-width: 0;
}

.btn-primary:hover,
.btn-primary:focus {
	background: var(--primary-700);
}

.btn-dark {
	background: var(--dark);
}

.form-label {
	color: var(--dark);
}

.modal-content {
	border: 4px solid var(--primary-500);
}

#submit-task {
	bottom: -35px;
	left: 42%;
}
